<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>

    <style>
        html,
        body {
            background-color: rgb(42, 100, 100);
            font-weight: bold;
            color: aliceblue;
        }
    </style>
</head>

<body>
    <form action="/" method="POST" style="width: 60%; margin: 50px auto">
        <div class="form-group ">
            <label for="name"> NAME
            </label>
            <div class="form-row">
                <div class="col">
                    <input type="text" id="name" name="name" class="form-control" placeholder="name">
                </div>
                <div class="col">
                    <input type="text" name='lastname' id="lastname" class="form-control" placeholder="last-name">
                </div>
            </div>
        </div>
        <div class="form-group">

            <label for="email"> EMAIL
            </label>
            <input type="email" name="email" class="form-control" placeholder="email">
        </div>
        <div class="form-group">

            <label for="phone"> PHONE
            </label>
            <input type="text" id="phone" name='phone' class="form-control" placeholder="+33 (0)6 00 00 00 00">
        </div>
        <div class="form-group">
            <label for="address">ADDRESS</label>
            <div class="form-row">

                <div class="col-6">
                    <input type="text" name="address" class="form-control" placeholder="Address">
                </div>
                <div class="col-2">
                    <input type="text" class="form-control" name="city" placeholder="City">
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="state" placeholder="State">
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="zip" placeholder="Zip">
                </div>
            </div>
        </div>

        <input type="submit" class="btn btn-info">

    </form>
</body>

</html>